.services {
  background-color: #f5f5f5;
}
.section-label h2 {
  font-size: 3rem;
  font-weight: 700;
}
.section-label p {
  width: fit-content;
  position: relative;
}
.section-label p::after {
  display: block;
  content: "";
  width: 10%;
  height: 5px;
  background-color: #0078ff;
  margin: 1rem auto;
}
.icon {
  font-size: 2rem;
  padding: 1.5rem 2rem;
  transition: all 0.3s ease-in-out;
}
.card-icon {
  border: #0078ff 0.6rem solid;
  border-radius: 50%;
  width: fit-content;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-icon:hover {
  background-color: #0078ff;
  border: #cde1f8 0.6rem solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: fit-content;
}
.icon:hover {
  color: white;
  font-size: 2rem;
  padding: 1.5rem 2rem;
}

.services-card {
  border: transparent;
  border-radius: 1.5rem;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.03);
}

.services-slider {
  background-image: url("../images/counters-bg.jpg");
  background-size: cover;
}

.services-layer {
  background-color: rgba(0, 120, 255, 0.75);
  width: 100%;
}

.icon-circle {
  border: #cde1f8 0.6rem solid;
  border-radius: 50%;
  width: fit-content;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stat-icon {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}
.stats-col h5 {
  font-size: 2rem;
  font-weight: 400;
}

.works::after{
    content: "";
    animation: works 0.5s ease-in-out;
    animation-fill-mode: forwards;
}
.years::after{
    content: "";
    animation: years 0.5s ease-in-out;
    animation-fill-mode: forwards;
}
.clients::after{
    content: "";
    animation: clients 0.5s ease-in-out;
    animation-fill-mode: forwards;
}
.awards::after{
    content: "";
    animation: awards 0.5s ease-in-out;
    animation-fill-mode: forwards;
}



@keyframes works {
    0% {content: "0";}
    10% {content: "45";}
    20% {content: "90";}
    30% {content: "135";}
    40% {content: "180";}
    50% {content: "225";}
    60% {content: "270";}
    70% {content: "315";}
    80% {content: "360";}
    90% {content: "405";}
    100% {content: "450";}
}
@keyframes years {
    0% {content: "0";}
    10% {content: "2.5";}
    20% {content: "5";}
    30% {content: "7.5";}
    40% {content: "10";}
    50% {content: "12.5";}
    60% {content: "15";}
    70% {content: "17.5";}
    80% {content: "20";}
    90% {content: "22.5";}
    100% {content: "25";}
}
@keyframes clients {
    0% {content: "0";}
    10% {content: "55";}
    20% {content: "110";}
    30% {content: "165";}
    40% {content: "220";}
    50% {content: "275";}
    60% {content: "330";}
    70% {content: "385";}
    80% {content: "440";}
    90% {content: "495";}
    100% {content: "550";}
}
@keyframes awards {
    0% {content: "0";}
    10% {content: "4";}
    20% {content: "9";}
    30% {content: "14";}
    40% {content: "19";}
    50% {content: "24";}
    60% {content: "28";}
    70% {content: "33";}
    80% {content: "38";}
    90% {content: "43";}
    100% {content: "48";}
}